<h1>Cars Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>

<ul>
  <% @cars.each do |car| %>
  <li>
    <h3>
        <%= link_to car.name, controller: "garages", action: "show", id: car.id %>
    </h3>
  </li>
  <% end %>
</ul>
